extends layout

block content
  h1= student.title
  h5 Written by #{author}
  p= student.body
  hr
  if user
    if user.id == student.author
      a.btn.btn-default(href='/students/edit/'+student._id) Edit
      a.btn.btn-danger.delete-article(href='#', data-id=student._id) Delete
